.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #765827; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 { /* Título formulario*/
    text-align: center;
    color: #EAC696;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  #enviar {
    background-color: #C8AE7D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#enviar:hover {
    background-color: #C8AE7D;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#enviar:active {
    background-color: #C8AE7D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    background-color: rgb(245, 186, 98);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: rgb(245, 186, 98);
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }